
.een-pakkende-sec{
	padding: 40px 0 80px;
}
.verdere-innr,
.uitgelichte-innr,
.een-pakkende-innr{
	padding-left: 12px;
	padding-right: 85px;
}
.een-pakkende-sec .een-pakkende-top-block{
	padding-bottom: 45px;
}
 

.uitgelichte-sec{
	padding: 37px 0 25px;
	color: #fff;
	background: #233d65;
}
.uitgelichte-top-block{
	padding-bottom: 40px;
}
.uitgelichte-btm-block li{
	width: 25%;
	float: left;
	margin-bottom: 25px;
}
.uitgelichte-btm-block li:nth-child(4n+1){
	clear: left;
}
.uitgelichte-btm-block li:not(:last-child){
	padding-right: 10px;
}
.uitgelichte-btm-block i{
	max-width: 116px;
	display: inline-block;
	vertical-align: baseline;
}
.uitgelichte-btm-block i > img{
	width: 100%;
}
.uitgelichte-btm-block span{
	display: block;
	margin-top: 26px;
	font-size: 31px;
}
.verdere-sec{
	padding: 65px 0 70px;
}
.verdere-innr{

}
p a{
	color: #cd322c;
}
p a:hover{
	color: #233d65;
}






@media(max-width: 1299px){
	.verdere-innr, 
	.uitgelichte-innr, 
	.een-pakkende-innr {
	    padding-left: 12px;
	    padding-right: 40px;
	}
}

@media(max-width: 1199px){
	.verdere-innr, 
	.uitgelichte-innr, 
	.een-pakkende-innr {
	    padding-left: 0;
	    padding-right: 0;
	}
	.uitgelichte-btm-block span{
		margin-top: 20px;
	}
}

@media(max-width: 991px){

}

@media(max-width: 767px){
	.een-pakkende-sec {
	    padding: 40px 0 45px;
	}
	.een-pakkende-sec .een-pakkende-top-block {
	    padding-bottom: 30px;
	}
	.verdere-sec {
	    padding: 40px 0 45px;
	}
	.uitgelichte-btm-block li{
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
	}
	.uitgelichte-btm-block li:nth-child(4n+1){
		clear: left;
	}
	.uitgelichte-btm-block li:nth-child(2n+1){
		clear: left;
	}
	.uitgelichte-btm-block span {
	    margin-top: 12px;
	    font-size: 25px;
	}
}

@media(max-width: 639px){
	.uitgelichte-btm-block i {
	    max-width: 102px;
	    display: inline-block;
	    vertical-align: baseline;
	}
}

@media(max-width: 575px){

}

@media(max-width: 479px){

}

@media(max-width: 359px){

}