.sitemap-content{
	padding: 100px 0;
}
.sitemap h1{
	padding-bottom: 15px;
	position: relative;
	margin-bottom: 25px;
}
.sitemap h1:after{
	content: "";
	width: 80px;
	height: 2px;
	background: #fd6607;
	position: absolute;
	left: 0;
	bottom: 0;
}
.sitemap-content ol li{
	padding: 0 0 15px;
}





.hdr-banner-wrp{
	position: relative;
    overflow: hidden;
	min-height: 1046px;
	overflow:hidden;
}
.hdr-banner-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
}
.hdr-banner-innr{
	min-height: 1046px;
	position: relative
}
.hdr-banner-des{
	position: absolute;
	left: 0;
	bottom: 16%;
	max-width: 300px;
	padding: 35px 38px 30px 30px;
	text-align: right;
	background: #cd322c;
	opacity: .9;
}
.hdr-banner-des span{
	font-family: 'Kanit', sans-serif;
    font-size: 37px;
    font-weight: 400;
    color:#fff;
}



.hdr-banner-bc{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	padding: 5px 0;
	background: #cd322c;
	opacity: .9;
	z-index: 5;
}
.hdr-banner-bc a{
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
	font-size: 13px;
	position: relative;
	padding-left: 12px;
	padding-right: 7px;
}
.hdr-banner-bc a:hover{
	padding-right: 10px;
}
.hdr-banner-bc a::after {
    content: "\f105";
    position: absolute;
    font-family: FontAwesome;
    right: 0;
    top: 1px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 12px;
   -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

