.sitemap-content{
	padding: 100px 0;
}
.sitemap h1{
	padding-bottom: 15px;
	position: relative;
	margin-bottom: 25px;
}
.sitemap h1:after{
	content: "";
	width: 80px;
	height: 2px;
	background: #fd6607;
	position: absolute;
	left: 0;
	bottom: 0;
}
.sitemap-content ol li{
	padding: 0 0 15px;
}




.hdr-banner-wrp{
	position: relative;
    overflow: hidden;
	min-height: 1046px;
	overflow:hidden;
}
.page-banner-wrp{
	min-height: 300px !important;
	position: relative;
    overflow: hidden;
}
.hdr-banner-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat!important;
    background-position: center center!important;
    background-size: cover!important;
}
.hdr-banner-innr{
	min-height: 1046px;
	position: relative
}
.hdr-banner-des{
	position: absolute;
	left: 0;
	bottom: 16%;
	max-width: 300px;
	padding: 35px 38px 30px 30px;
	text-align: right;
	background: #cd322c;
	opacity: .9;
}
.hdr-banner-des span{
	font-family: 'Kanit', sans-serif;
    font-size: 37px;
    font-weight: 400;
    color:#fff;
}



.hdr-banner-bc{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	padding: 5px 0;
	background: #cd322c;
	opacity: .9;
	z-index: 5;
}
.page-banner-wrp .hdr-banner-bc{
	background: #717894;
	opacity: .7;
}

.hdr-banner-bc a{
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
	font-size: 13px;
	position: relative;
	padding-left: 12px;
	padding-right: 7px;
}
.hdr-banner-bc a:hover{
	padding-right: 10px;
}
.hdr-banner-bc a::after {
    content: "\f105";
    position: absolute;
    font-family: FontAwesome;
    right: 0;
    top: 1px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 12px;
   -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
 
.page-een-pakkende-sec{
	padding-top: 40px;
	padding-bottom: 425px;
}
.page-een-pakkende-sec .een-pakkende-top-block{
	padding-bottom: 52px;
}
.page-een-pakkende-sec .een-pakkende-btm-block h2{
	margin-bottom: 26px;
}


@media(max-width: 1199px){ 
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	} 
	.page-een-pakkende-sec {
	    padding-bottom: 300px;
	}
   .page-een-pakkende-sec .een-pakkende-innr {
	    padding-right: 50px;
	}

}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.page-een-pakkende-sec {
	    padding-bottom: 200px;
	}
	.page-een-pakkende-sec .een-pakkende-innr {
	    padding-right: 20px;
	}


}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.page-een-pakkende-sec {
	    padding-bottom: 100px;
	}
	.page-een-pakkende-sec .een-pakkende-innr {
	    padding-right: 10px;
	}
	.page-een-pakkende-sec .een-pakkende-top-block {
	    padding-bottom: 35px;
	}


}



@media(max-width: 639px){

}



@media(max-width: 575px){
}


@media(max-width: 479px){


}



@media(max-width: 359px){

}

